<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>sakdagu</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>MemberController</display-name>
		<servlet-name>MemberController</servlet-name>
		<servlet-class>casestudy.web.controller.MemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberController</servlet-name>
		<url-pattern>/member</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ProductController</display-name>
		<servlet-name>ProductController</servlet-name>
		<servlet-class>casestudy.web.controller.ProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>BoardController</display-name>
		<servlet-name>BoardController</servlet-name>
		<servlet-class>casestudy.web.controller.BoardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardController</servlet-name>
		<url-pattern>/board/*</url-pattern>
	</servlet-mapping>


	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/exceptionPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/exceptionPage.jsp</location>
	</error-page>
	<resource-ref>
		<res-ref-name>jdbc/sakdaguDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<filter>
		<display-name>EncodingFilter</display-name>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>casestudy.web.filter.EncodingFilter</filter-class>


		<init-param>
			<description></description>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<!--원인: request가 두번 호출되는데, 두번째 호출될때 request에 inputStream이 사라져서 생기는 오류 -->
	<!-- <filter>
		<filter-name>InjectionFilter</filter-name>
		<filter-class>md.cms.servlet.JwxeFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>InjectionFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping> -->
	<!--http://blog.naver.com/jxs2/110177957010 -->

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<servlet-name>MemberController</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<servlet-name>ProductController</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<servlet-name>BoardController</servlet-name>
	</filter-mapping>

	<listener>
		<listener-class>casestudy.web.listener.TestListener</listener-class>
	</listener>
</web-app>